body {
    padding: 0;
    margin: 0;
    z-index: 0;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
}

.hidden {
    display: none;
}



/*
 * Abstract menu
*/

.topMenu {
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    position: fixed;
    padding: 20px 0 10px 0;
    z-index: 5001;
}
.topMenu .title {
    text-transform: uppercase;
    border-top: 1px solid black;
    position: absolute;
    width: inherit;
    height: 18px;
    padding: 2px 0 0;
    bottom: 0;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    background-color: #efefef;
    text-align: center;
}
.topMenu input.error {
    color: #bd0000;
    border: 1px solid #bd0000;
}









/*
 * Project menu
*/
.project {
    width: 200px;
    height: 160px;
    left: 0;
    top: -171px;
}
.project ul {
    padding: 0 0 0 35px;
    margin: 0;
}
.project ul li {
    cursor: pointer;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}
.project ul li a {
    position: relative;
    bottom: 3px;
}
.project ul li#save {
    list-style-image: url(../images/floppy_disk_16.png);
}
.project ul li#back {
    list-style-image: url(../images/home_16.png);
}
.project ul li#refresh {
    list-style-image: url(../images/refresh_16.png);
}
.project ul li#toRelationshipView{
    list-style-image: url(../images/view-relationship.png);
}
.project ul li#toChronologicalView{
    list-style-image: url(../images/view-chronological.png);
}
.project ul li#toStakeholderView{
    list-style-image: url(../images/view-stakeholder.png);
}





/*
 * Decision menu
*/
.decisions {
    width: 350px;
    height: 400px;
    top: -411px;
    left: 201px;
}
.decisions .overflowDecisions {
    padding-top: 5px;
    overflow: auto;
    height: 389px;
    position: relative;
    top: -5px;
}
.decisionSelector {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px dashed gray;
    padding: 0 0 9px;
}
.decisions .decisionSelector:last-child {
    border-bottom: 0;
}
.decisionSelector span {
    position: relative;
    left: 5px;
    font-size: 11px;
}
.decisionSelector span.stereotype {
    color: darkred;
    left: 12px;
}
.decisionSelector input[type=button] {
    color: white;
    border: 0;
    font-size: 11px;
    width: 75px;
    height: 19px;
    padding: 0 0 2px 0;
    position: absolute;
    top: -1px;
    right: 5px;
}
.decisionSelector .show {
    background-image: url(../images/buttonConfirmSmall.png);
}
.decisionSelector .show:active {
    background-image: url(../images/buttonConfirmActiveSmall.png);
}
.decisionSelector .hide {
    background-image: url(../images/buttonAbortSmall.png);
}
.decisionSelector .hide:active {
    background-image: url(../images/buttonAbortActiveSmall.png);
}







/*
 * Status menu
*/
.status {
    width: 180px;
    height: 247px;
    top: -258px;
    left: 552px;
}
.status p {
    font-size: 11px;
    margin: 0 5px 5px;
}
.status .overflowStatus {
    padding-top: 5px;
    overflow: auto;
    height: 189px;
    position: relative;
    top: -5px;
}
.status .overflowStatus div {
    padding: 0 0 9px;
}
.status .overflowStatus div:last-child {
    border: 0;
}
.status .overflowStatus div span {
    font-size: 11px;
    padding-left: 5px;
}
.status .overflowStatus div input {
    position: relative;
    top: 3px;
}












/*
 * Export menu
*/
.export {
    width: 200px;
    height: 200px;
    top: -211px;
    left: 733px;
}
.export form {
    visibility: hidden;
}
.export ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}
.export ul li {
    width: 90px;
    height: 48px;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 50px 10px 0 0;
    text-align: center;
    cursor: pointer;
}
.export ul li.jpeg {
    background-image: url(../images/file_jpg.png);
}
.export ul li.png {
    background-image: url(../images/file_png.png);
}
.export ul li.pdf {
    background-image: url(../images/file_pdf.png);
}
.export ul li.svg {
    background-image: url(../images/file_svg.png);
}











/*
 * Small menu on the bottom of the page
*/
.bottomMenu {
    position: fixed;
    bottom: 0px;


    background-color: #efefef;
    border-top: 1px solid black;
    
    height: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    width: 100%;

    z-index: 5001;
}
.bottomMenu li span {
    position: relative;
    top: 4px;
    left: 4px;
}
.bottomMenu > li span.current {
    position: absolute;
    left: auto;
    right: 4px;
    font-style: italic;
    color: grey;
}
.bottomMenu > li {
    float: left;
    height: inherit;
    position: relative;
    left: -1px;
    background-color: inherit;
    border-left: 1px solid black;
}
.bottomMenu > li > ul {
    position: absolute;
    bottom: 19px;
    left: -1px;
    width: inherit;
    padding: 0 0 0 1px;
    margin: 0 0 1px 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: none;
    background-color: inherit;
}
.bottomMenu > li:hover > ul {
    display: block;
}
.bottomMenu > li > ul > li {
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    background-color: inherit;
    list-style: none;
    height: 20px;
    cursor: pointer;
    width: inherit;
    position: relative;
    left: -1px;
}
.bottomMenu > li > ul > li:hover {
    background-color: #dedede;
}
.bottomMenu > li > ul > li.selected {
    background-color: #bebebe;
}








.performance {
    width: 150px;
}


.autoAlignment {
    width: 150px;
    border-right: 1px solid black;
}







/*
 * Nodes
*/
.node {
    width: 300px;
    height: 50px;
    min-height: 50px;
    min-width: 70px;
    background-color: #fbfbfb;

    border: 1px solid black;

    text-align: center;

    -webkit-transition: background-color 300ms ease-in 0ms;
    -moz-transition: background-color 300ms ease-in 0ms;
    -o-transition: background-color 300ms ease-in 0ms;
    transition: background-color 300ms ease-in 0ms;

    z-index: 2000;
}
.node.iteration {
    background-color: lightgoldenrodyellow;
}
.node.disconnected {
    background-color: lightcoral;
}
.node.marked, .handle.marked {
    background-color: #f0f0f0;
}
.round {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.node h3 {
    margin: 5px 10px;
    font-size: 1.1em;
}
.node span {
    margin: 5px 0 0;
    color: darkred;
    display: block;
}
.node .ui-resizable-se {
    width: 15px;
    height: 15px;
    bottom: 2px;
    right: 2px;
}
.node .hide, .node .info, .node .resize {
    width:18px;
    height: 18px;

    position: absolute;
    top: 0px;

    border-bottom: 1px solid black;
    background-repeat: no-repeat;
    opacity: 0;

    -webkit-transition: opacity 300ms ease-in 0ms;
    -moz-transition: opacity 300ms ease-in 0ms;
    -o-transition: opacity 300ms ease-in 0ms;
    transition: opacity 300ms ease-in 0ms;

    cursor: pointer;
}
.node:hover .hide, .node:hover .info, .node:hover .resize {
    opacity: 1;
}
.node .hide, .node .info {
    border-left: 1px solid black;
}
.node .resize {
    border-right: 1px solid black;
}
.node .hide {
    background-image: url(../images/hide.png);
    background-position: bottom left;
    right: 0px;
    padding: 2px 2px 0 0;
}
.node .info {
    background-image: url(../images/info-small.png);
    background-position: 31% 50%;
    right: 18px;
    padding: 2px 4px 0 0;
    width: 21px;
}
.node .resize {
    background-image: url(../images/resize.png);
    left: 0px;
    padding: 2px 2px 0;
    background-position: 65% 65%;
}
.node .associationHelper {
    width: 10px;
    height: 10px;

    background-color: darkred;
    cursor: crosshair;

    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    display: none;
}







/*
 * Handles
*/
.handle {
    background-color: #fbfbfb;

    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-transition: background-color 300ms ease-in 0ms;
    -moz-transition: background-color 300ms ease-in 0ms;
    -o-transition: background-color 300ms ease-in 0ms;
    transition: background-color 300ms ease-in 0ms;
    z-index: 3000;
}






/*
 * Lasso
*/
#lasso {
    border: 1px dotted black;
    background: none;
    position: absolute;
    z-index: 5000;
    display: none;
}



/*
 * Lasso
 */
.label {
    color: darkred;
    font-size: 0.9em;
    cursor: move;
}
.label.marked {
    border: 2px dashed khaki;
}


/*
 * Popups
 */
.ui-dialog {
    font-size: 12px;
    z-index: 6000;
}
.ui-dialog .ui-button-text-only .ui-button-text {
    font-weight: normal;
}
#alignmentPopup {
    display: none;
}
 #iconPopup {
     text-align: center;
     display: none;
}
 #iconPopup img {
     width: 66px;
     height: 66px;
     margin: 5px 0px 0px;
}
#iconPopup p {
    text-align: left;
    margin: 20px 0px 0px;
}