body {
    padding: 0;
    margin: 0;
    z-index: 0;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
}

.grid {
    background-image: url(../images/grid.png);
}

.smallMenu input.error {
    color: #bd0000;
    border: 1px solid #bd0000;
}



/*
 * Abstract menu
 */

.smallMenu {
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    position: fixed;
    padding: 20px 0 10px 0;
}
.smallMenu .title {
    text-transform: uppercase;
    border-top: 1px solid black;
    position: absolute;
    width: inherit;
    height: 18px;
    padding: 2px 0 0;
    bottom: 0;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    background-color: #efefef;
    text-align: center;
}










/*
 * Project menu
 */
.project {
    width: 200px;
    height: 120px;
    left: 0;
    top: -131px;
}







/*
 * Decision menu
 */
.decisions {
    width: 400px;
    height: 400px;
    top: -411px;
    left: 202px;
}
.decisions .overflow {
    padding-top: 5px;
    overflow: auto;
    height: 393px;
    position: relative;
    top: -5px;
}
.decisionSelector {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px dashed black;
    padding: 0 0 9px;
}
.decisions .decisionSelector:last-child {
    border-bottom: 0;
}
.decisionSelector span {
    position: relative;
    left: 5px;
}
.decisionSelector input[type=button] {
    color: white;
    border: 0;
    font-size: 1em;
    width: 75px;
    height: 19px;
    padding: 0 0 2px 0;
    position: absolute;
    top: -1px;
    right: 5px;
}
.decisionSelector .show {
    background-image: url(../images/buttonConfirmSmall.png);
}
.decisionSelector .show:active {
    background-image: url(../images/buttonConfirmActiveSmall.png);
}
.decisionSelector .hide {
    background-image: url(../images/buttonAbortSmall.png);
}
.decisionSelector .hide:active {
    background-image: url(../images/buttonAbortActiveSmall.png);
}





/*
 * Zoom menu
 */
.zoom {
    width: 120px;
    height: 70px;
    left: 604px;
    top: -81px;
}
.zoom input {
    width: 40px;
    border: 1px solid #4F4F4F;
    background-color: #F4F2F2;
    color: #4F4F4F;
    height: 18px;
    font: normal normal normal 13px/normal arial, sans-serif;
    padding: 0 3px;
    position: relative;
    left: 8px;
}
.zoom input[type=text] {
    left: 10px;
}
.zoom input[type=submit] {
    top: 5px;
    width: 103px;
    background-image: url(../images/buttonConfirm103.png);
    border: 0;
    color: white;
    height: 21px;
    font-size: 0.9em;
}
.zoom input[type=submit]:active {
    background-image: url(../images/buttonConfirmActive103.png);
}
.zoom span {
    position: absolute;
    right: 28px;
    top: 22px;
}
.zoom img {
    position: relative;
    top: 2px;
    cursor: pointer;
}
.zoom #zoomIn {
    left: 7px;
}
.zoom #zoomOut {
    left: 30px;
}









/*
 * Export menu
 */
.export {
    width: 200px;
    height: 200px;
    top: -211px;
    left: 726px;
}
.export form {
    visibility: hidden;
}
.export ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}
.export ul li {
    width: 90px;
    height: 48px;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 50px 10px 0 0;
    text-align: center;
    cursor: pointer;
}
.export ul li.jpeg {
    background-image: url(../images/file_jpg.png);
}
.export ul li.png {
    background-image: url(../images/file_png.png);
}
.export ul li.pdf {
    background-image: url(../images/file_pdf.png);
}
.export ul li.svg {
    background-image: url(../images/file_svg.png);
}
