body {
    padding: 0;
    margin: 0;
    z-index: 0;
}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid black;
    background-color: #efefef;
    z-index: 4;
    width: 300px;
}
.menu.open {
    left: 0px;
}
.menu.closed {
    left: -283px;
}
.opener, .closer {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -4px;
    border-left: 1px solid black;
    background-repeat: repeat-y;
    cursor: pointer;
}
.closer {
    background-image: url(../images/arrow-previous.gif);
}
.opener {
    background-image: url(../images/arrow-next.gif);
}
svg {
    width: 100%;
    height: 100%;
    z-index: 3;
}
.grid {
    background-image: url(../images/grid.png);
}
.node, .dragHandle, .line {
    fill: white;
    stroke: black;
    stroke-width: 1;
    cursor: pointer;
}
.node:hover, .line:hover, .dragHandle:hover {
    stroke: red;
}