body {
    padding: 0;
    margin: 0;
    z-index: 0;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid black;
    background-color: #efefef;
    z-index: 4;
    width: 300px;
}
.menu.open {
    left: 0px;
}
.menu.closed {
    left: -283px;
}
.opener, .closer {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -4px;
    border-left: 1px solid black;
    background-repeat: repeat-y;
    cursor: pointer;
}
.closer {
    background-image: url(../images/arrow-previous.gif);
}
.opener {
    background-image: url(../images/arrow-next.gif);
}
.grid {
    background-image: url(../images/grid.png);
}
.smallMenu input.error {
    color: #bd0000;
    border: 1px solid #bd0000;
}





.smallMenu {
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    position: fixed;
    padding: 20px 0 10px 0;
}
.smallMenu:hover {
    top: -15px;
}
.smallMenu div {
    text-transform: uppercase;
    border-top: 1px solid black;
    position: absolute;
    width: inherit;
    height: 18px;
    padding: 2px 0 0;
    bottom: 0;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    background-color: #efefef;
    text-align: center;
}
.zoom {
    width: 120px;
    height: 70px;
    top: -81px;
    right: 202px;
}
.zoom input {
    width: 70px;
    border: 1px solid #4F4F4F;
    background-color: #F4F2F2;
    color: #4F4F4F;
    height: 18px;
    font: normal normal normal 13px/normal arial, sans-serif;
    padding: 0 3px;
    position: relative;
    left: 8px;
}
.zoom input[type=submit] {
    top: 5px;
    width: 103px;
    background-image: url(../images/buttonConfirm103.png);
    border: 0;
    color: white;
    height: 21px;
    font-size: 0.9em;
}
.zoom input[type=submit]:active {
    background-image: url(../images/buttonConfirmActive103.png);
}
.zoom span {
    position: absolute;
    right: 14px;
    top: 22px;
}

.export {
    width: 200px;
    height: 200px;
    top: -211px;
    right: 0;
}
.export form {
    visibility: hidden;
}
.export ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}
.export ul li {
    width: 90px;
    height: 48px;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 50px 10px 0 0;
    text-align: center;
    cursor: pointer;
}
.export ul li.jpeg {
    background-image: url(../images/file_jpg.png);
}
.export ul li.png {
    background-image: url(../images/file_png.png);
}
.export ul li.pdf {
    background-image: url(../images/file_pdf.png);
}
.export ul li.svg {
    background-image: url(../images/file_svg.png);
}
