.prefillValue, .preselectValue {
    display: none;
}

#page ul.info li div.text h2 {
    font-size: 1.1em;
    margin: 0 0 0.1em 0;
    padding: 0;
}

div#userMenu {
    width: 300px;
    height: 75px;
    position: absolute;
    top: 5px;
    right: 100px;
}
div#userMenu .registerLink {
    position: absolute;
    top: 25px;
    font: 13px arial,sans-serif;
}
div#userMenu input {
    background-color: #F4F2F2;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    font: 13px arial,sans-serif;
    width: 100px;
    position: absolute;
    top: 0px;
    margin: 0;
}
div#userMenu input.password {
    left: 105px;
}
div#userMenu input.name {
    left: 0px;
}
div#userMenu input.prefilled {
    color: #999;
}
div#userMenu div.loginError {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f4f2f2;
    z-index: 2;
    border: 2px solid red;
    position: absolute;
    top: 26px;
    padding: 5px;
    font-family: Arial, Geneva, Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}
div#userMenu form#loginForm input.error, div#userMenu form#loginForm textarea.error {
    color: #bd0000;
}
div#userMenu input[type=submit] {
    left: 210px;
    background-image: url(../images/buttonConfirmSmall.png);
    color: white;
    border: 0;
    font-size: 0.7em;
    width: 75px;
    height: 19px;
    padding: 0 0 2px 0;
}
div#userMenu input[type=submit].logoutButton {
    background-image: url(../images/buttonLogoutSmall.png);
}

div#userMenu input[type=submit]:active, div#userMenu input[type=submit]:focus {
    background-image: url(../images/buttonConfirmActiveSmall.png);
}
div#userMenu input[type=submit].logoutButton:active, div#userMenu input[type=submit].logoutButton:focus {
    background-image: url(../images/buttonLogoutActiveSmall.png);
}
.formSection {
    position: relative;
    border-bottom: 1px dashed #666;
    margin: 0.8em 0 0 0;
}
.last {
    border-bottom: 0;
}
.formSection label {
    float: left;
}
.formSection span {
}
#page .formSection input, #page .formSection textarea {
    float: right;
    font: 14px/1.5em arial,sans-serif;
    min-height: 25px;
}
#page .formSection textarea {
    width: 487px;
    height: 150px;
}
#page .formSection input.memberAdd {
    position: absolute;
    right: 137px;
    top: 0px;
    width: 350px;
}
#page .formSection input[type=submit].add {
    position: absolute;
    right: 0;
    top: 2px;
}
#page .formSection div.datePopup input[type=image] {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    background-color: white;
}

#page .formSection div.datePopup br {
    display: none;
}

.formSection p {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 0 0.8em 0;

    color: #666;
    font-size: 0.75em;
    font-variant: small-caps;
    text-indent: 11em;
}

.formSection p.empty{
    padding: 0 0 9px 0;
}
.formSection p.lineSpacer {
    padding: 0 0 5px;
}

#page .formSection table.memberSelect select {
    width: 240px;
}
#page .formSection table.memberSelect td:first-child, #page .formSection table.memberSelect th:first-child {
    font-size: 0.9em;
    width: 270px;
}
#page .formSection table.memberSelect td:first-child span, #page .formSection table.memberSelect th:first-child span {
    font-size: 0.9em;
    color: #444;
}
#page .formSection table.memberSelect td {
    width: 250px;
}
#page .formSection table.memberSelect td:last-child {
    width: 20px;
}
.pointer{
    cursor: pointer;
}

#page td {
    vertical-align: middle;
}

#page input#iterationForm:date1_cb{
    margin-top:50px;
}

p.deleteConfirmationMessage  span {
    font-weight: bold;
    color: #48A659;
}


.exampleBoxCol1 {
    padding: 7px;
}

#help  ul.info > li > div.text a {
    color: #fff;
}

#page .members table.rowhover td:first-child, #page .members table.rowhover th:first-child {
    font-size: 0.9em;
    width: 350px;
}
#page .members table.rowhover td:first-child span, #page .members table.rowhover th:first-child span {
    font-size: 0.9em;
    color: #444;
}

#page .members a.togglelink{
    font-size: 10px;
}