.prefillValue {
    display: none;
}

#page ul.info li div.text h2 {
    font-size: 1.1em;
    margin: 0 0 0.1em 0;
    padding: 0;
}

div#userMenu {
    width: 300px;
    height: 75px;
    position: absolute;
    top: 5px;
    right: 100px;
}
div#userMenu .registerLink {
    position: absolute;
    top: 25px;
    font: 13px arial,sans-serif;
}
div#userMenu input {
    background-color: #F4F2F2;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    font: 13px arial,sans-serif;
    width: 100px;
    position: absolute;
    top: 0px;
    height: 19px;
}
div#userMenu input.password {
    left: 105px;
}
div#userMenu input.name {
    left: 0px;
}
div#userMenu input.prefilled {
    color: #999;
}
div#userMenu form#loginForm input.error {
    color: #bd0000;
}
div#userMenu input[type=submit] {
    left: 210px;
    background-image: url(../images/buttonConfirmSmall.png);
    color: white;
    border: 0;
    font-size: 0.7em;
    width: 75px;
    height: 19px;
    padding: 0 0 2px 0;
}
div#userMenu input[type=submit]:active, div#userMenu input[type=submit]:focus {
    background-image: url(../images/buttonConfirmActiveSmall.png);
}

.formSection {
    position: relative;
    border-bottom: 1px dashed #666;
    margin: 0.8em 0 0 0;
}
.last {
    border-bottom: 0;
}
.formSection label {
    float: left;
}
.formSection span {
    float: left;
}
#page .formSection input {
    float: right;
}
.formSection p {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 0 0.8em 0;

    color: #666;
    font-size: 0.75em;
    font-variant: small-caps;
    text-indent: 11em;
}

.formSection p.empty{
    padding: 0 0 9px 0;
}

#page .formSection Textarea {
    float: right;
    height: 60px;
}