body {
    padding: 0;
    margin: 0;
    z-index: 0;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
}

.hidden {
    display: none;
}



/* Level 0 */
.topMenu {
    position: fixed;
    width: 100%;
    
    border-bottom: 1px solid black;
    background-color: #efefef;

    padding: 0;
    margin: 0;

    z-index: 5002;
}
.topMenuClickBlocker {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 5000;
    display: none;
}
.topMenu li {
    list-style: none;
    font-size: 13px;
    height: 25px;
    position: relative;
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: 5px 50%;
}
.topMenu > li {
    float: left;
    margin: 0 15px 0 10px;
    cursor: pointer;
}
.topMenu > li span {
    position: relative;
    top: 5px;
}


/* Level 1 */
.topMenu > li > ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    border: 1px solid black;
    background-color: #dfdfdf;
    display: none;
}
.topMenu > li > ul li {
    background-color: #dfdfdf;
    padding: 0 5px 0 30px;
    z-index: 5001;
}
.topMenu > li > ul li:hover {
    background-color: #efefef;
    cursor: pointer;
}
.topMenu > li > ul li.seperateAfter {
    margin-bottom: 10px;
}
.topMenu > li > ul li.seperateBefore {
    margin-top: 10px;
}
.topMenu > li > ul li .childMarker {
    position: absolute;
    right: 5px;
    top: 8px;

    width: 5px;
    height: 10px;

    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.topMenu > li > ul li.scrolldown, .topMenu > li > ul li.scrollup {
    height: 15px;
    background-position: 50% 50%;
}
.topMenu > li > ul li.scrollup {
    background-image: url(../images/arrow-up-grey.png);
}
.topMenu > li > ul li.scrolldown {
    background-image: url(../images/arrow-down-grey.png);
}




/* Level 2-x */
.topMenu > li > ul li ul {
    position: absolute;
    top: -9px;
    left: 10px;

    padding: 0px;

    display: none;

    border: 1px solid black;
}
.topMenu > li > ul li:hover ul {
    display: block;
}





/* Concrete menus */
#save {
    background-image: url(../images/floppy_disk_16.png);
}
#back {
    background-image: url(../images/home_16.png);
}
#refresh {
    background-image: url(../images/refresh_16.png);
}
#toRelationshipView{
    background-image: url(../images/view-relationship.png);
}
#toChronologicalView{
    background-image: url(../images/view-chronological.png);
}
#toStakeholderView{
    background-image: url(../images/view-stakeholder.png);
}
.topMenu .visible {
    background-image: url(../images/visible.png);
}
.topMenu .invisible {
    background-image: url(../images/invisible.png);
}
.topMenu .partyVisible {
    background-image: url(../images/party-visible.png);
}
.topMenu .related {
    background-image: url(../images/view-relationship.png);
}
.topMenu .on {
    background-image: url(../images/on.png);
}
.topMenu .off {
    background-image: url(../images/off.png);
}
.topMenu .questionmark {
    background-image: url(../images/questionmark.png);
}
.topMenu .quality {
    background-image: url(../images/quality.png);
}
.topMenu .speed {
    background-image: url(../images/speed.png);
}
.topMenu .export {
    background-image: url(../images/export.png);
}
.topMenu .jpeg, .topMenu .png {
    background-image: url(../images/file-jpeg-small.png);
}
.topMenu .svg {
    background-image: url(../images/file-svg-small.png);
}
.topMenu .pdf {
    background-image: url(../images/file-pdf-small.png);
}
.topMenu .details {
    background-image: url(../images/info-small.png);
}

.file > ul {
    width: 200px;
}
.file > ul > li ul {
    width: 150px;
}
.nodes > ul {
    width: 500px;
}
.nodes > ul > li ul {
    width: 220px;
}
.nodes .statusText {
    color: darkred;
    font-size: 12px;
    margin-left: 12px;
}
.status > ul {
    width: 200px;
}
.status > ul > li ul {
    width: 100px;
}
.settings > ul {
    width: 200px;
}
.settings > ul > li ul {
    width: 120px;
}








/*
 * Nodes
*/
.node {
    width: 300px;
    height: 50px;
    min-height: 50px;
    min-width: 70px;
    background-color: #fbfbfb;

    border: 1px solid black;

    text-align: center;

    -webkit-transition: background-color 300ms ease-in 0ms;
    -moz-transition: background-color 300ms ease-in 0ms;
    -o-transition: background-color 300ms ease-in 0ms;
    transition: background-color 300ms ease-in 0ms;

    z-index: 2000;
}
.node.iteration {
    background-color: lightgoldenrodyellow;
}
.node.disconnected {
    background-color: lightcoral;
}
.node.marked, .handle.marked {
    background-color: #f0f0f0;
}
.round {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.node h3 {
    margin: 5px 10px;
    font-size: 1.1em;
}
.node span {
    margin: 5px 0 0;
    color: darkred;
    display: block;
}
.node .ui-resizable-se {
    width: 15px;
    height: 15px;
    bottom: 2px;
    right: 2px;
}
.node .hide, .node .info, .node .resize {
    width:18px;
    height: 18px;

    position: absolute;
    top: 0px;

    border-bottom: 1px solid black;
    background-repeat: no-repeat;
    opacity: 0;

    -webkit-transition: opacity 300ms ease-in 0ms;
    -moz-transition: opacity 300ms ease-in 0ms;
    -o-transition: opacity 300ms ease-in 0ms;
    transition: opacity 300ms ease-in 0ms;

    cursor: pointer;
}
.node:hover {
    cursor: move;
}
.node:hover .hide, .node:hover .info, .node:hover .resize {
    opacity: 1;
}
.node .hide, .node .info {
    border-left: 1px solid black;
}
.node .resize {
    border-right: 1px solid black;
}
.node .hide {
    background-image: url(../images/hide.png);
    background-position: bottom left;
    right: 0px;
    padding: 2px 2px 0 0;
}
.node .info {
    background-image: url(../images/info-small.png);
    background-position: 31% 50%;
    right: 18px;
    padding: 2px 4px 0 0;
    width: 21px;
}
.node .resize {
    background-image: url(../images/resize.png);
    left: 0px;
    padding: 2px 2px 0;
    background-position: 65% 65%;
}
.node .associationHelper {
    width: 10px;
    height: 10px;

    background-color: darkred;
    cursor: crosshair;

    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    display: none;
}







/*
 * Handles
*/
.handle {
    background-color: #fbfbfb;

    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-transition: background-color 300ms ease-in 0ms;
    -moz-transition: background-color 300ms ease-in 0ms;
    -o-transition: background-color 300ms ease-in 0ms;
    transition: background-color 300ms ease-in 0ms;
    z-index: 3000;
}






/*
 * Lasso
*/
#lasso {
    border: 1px dotted black;
    background: none;
    position: absolute;
    z-index: 5000;
    display: none;
}



/*
 * Lasso
 */
.label {
    color: darkred;
    font-size: 0.9em;
    cursor: move;
}
.label.marked {
    border: 2px dashed khaki;
}


/*
 * Popups
 */
.ui-dialog {
    font-size: 12px;
    z-index: 6000;
}
.ui-dialog .ui-button-text-only .ui-button-text {
    font-weight: normal;
}
#alignmentPopup {
    display: none;
}
 #iconPopup {
     text-align: center;
     display: none;
}
 #iconPopup img {
     width: 66px;
     height: 66px;
     margin: 5px 0px 0px;
}
#iconPopup p {
    text-align: left;
    margin: 20px 0px 0px;
}
#relatedNodesPopup > select {
    position: relative;
    left: 10px;
    top: -1px;
}
#relatedNodesPopup div label {
    position: relative;
    left: 5px;
    top: -1px;
}