body {
    padding: 0;
    margin: 0;
    z-index: 0;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
}

.hidden {
    display: none;
}



/*
 * Abstract menu
*/

.topMenu {
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    position: fixed;
    padding: 20px 0 10px 0;
    z-index: 2000;
}
.topMenu .title {
    text-transform: uppercase;
    border-top: 1px solid black;
    position: absolute;
    width: inherit;
    height: 18px;
    padding: 2px 0 0;
    bottom: 0;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    background-color: #efefef;
    text-align: center;
}
.topMenu input.error {
    color: #bd0000;
    border: 1px solid #bd0000;
}









/*
 * Project menu
*/
.project {
    width: 200px;
    height: 120px;
    left: 0;
    top: -131px;
}
.project ul {
    padding: 0 0 0 35px;
    margin: 0;
}
.project ul li {
    cursor: pointer;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}
.project ul li a {
    position: relative;
    bottom: 3px;
}
.project ul li#save {
    list-style-image: url(../images/floppy_disk_16.png);
}
.project ul li#back {
    list-style-image: url(../images/home_16.png);
}
.project ul li#refresh {
    list-style-image: url(../images/refresh_16.png);
}






/*
 * Decision menu
*/
.decisions {
    width: 350px;
    height: 400px;
    top: -411px;
    left: 201px;
}
.decisions .overflowDecisions {
    padding-top: 5px;
    overflow: auto;
    height: 389px;
    position: relative;
    top: -5px;
}
.decisionSelector {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px dashed gray;
    padding: 0 0 9px;
}
.decisions .decisionSelector:last-child {
    border-bottom: 0;
}
.decisionSelector span {
    position: relative;
    left: 5px;
    font-size: 11px;
}
.decisionSelector span.stereotype {
    color: darkred;
    left: 12px;
}
.decisionSelector input[type=button] {
    color: white;
    border: 0;
    font-size: 11px;
    width: 75px;
    height: 19px;
    padding: 0 0 2px 0;
    position: absolute;
    top: -1px;
    right: 5px;
}
.decisionSelector .show {
    background-image: url(../images/buttonConfirmSmall.png);
}
.decisionSelector .show:active {
    background-image: url(../images/buttonConfirmActiveSmall.png);
}
.decisionSelector .hide {
    background-image: url(../images/buttonAbortSmall.png);
}
.decisionSelector .hide:active {
    background-image: url(../images/buttonAbortActiveSmall.png);
}







/*
 * Status menu
*/
.status {
    width: 180px;
    height: 247px;
    top: -258px;
    left: 552px;
}
.status p {
    font-size: 11px;
    margin: 0 5px 5px;
}
.status .overflowStatus {
    padding-top: 5px;
    overflow: auto;
    height: 189px;
    position: relative;
    top: -5px;
}
.status .overflowStatus div {
    padding: 0 0 9px;
}
.status .overflowStatus div:last-child {
    border: 0;
}
.status .overflowStatus div span {
    font-size: 11px;
    padding-left: 5px;
}
.status .overflowStatus div input {
    position: relative;
    top: 3px;
}




/*
 * Zoom menu
*/
.zoom {
    width: 120px;
    height: 70px;
    left: 733px;
    top: -81px;
}
.zoom input {
    width: 40px;
    border: 1px solid #4F4F4F;
    background-color: #F4F2F2;
    color: #4F4F4F;
    height: 18px;
    font: normal normal normal 13px/normal arial, sans-serif;
    padding: 0 3px;
    position: relative;
    left: 8px;
}
.zoom input[type=text] {
    left: 10px;
}
.zoom input[type=submit] {
    top: 5px;
    width: 103px;
    background-image: url(../images/buttonConfirm103.png);
    border: 0;
    color: white;
    height: 21px;
    font-size: 11px;
}
.zoom input[type=submit]:active {
    background-image: url(../images/buttonConfirmActive103.png);
}
.zoom span {
    position: absolute;
    right: 28px;
    top: 22px;
}
.zoom img {
    position: relative;
    top: 2px;
    cursor: pointer;
}
.zoom #zoomIn {
    left: 30px;
}
.zoom #zoomOut {
    left: 7px;
}









/*
 * Export menu
*/
.export {
    width: 200px;
    height: 200px;
    top: -211px;
    left: 854px;
}
.export form {
    visibility: hidden;
}
.export ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}
.export ul li {
    width: 90px;
    height: 48px;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 50px 10px 0 0;
    text-align: center;
    cursor: pointer;
}
.export ul li.jpeg {
    background-image: url(../images/file_jpg.png);
}
.export ul li.png {
    background-image: url(../images/file_png.png);
}
.export ul li.pdf {
    background-image: url(../images/file_pdf.png);
}
.export ul li.svg {
    background-image: url(../images/file_svg.png);
}







/*
 * Nodes
*/
.node {
    width: 300px;
    height: 50px;
    min-height: 50px;
    min-width: 70px;
    background-color: #fbfbfb;

    border: 1px solid black;

    text-align: center;

    -webkit-transition: background-color 300ms ease-in 0ms;
    -moz-transition: background-color 300ms ease-in 0ms;
    -o-transition: background-color 300ms ease-in 0ms;
    transition: background-color 300ms ease-in 0ms;
}
.node:hover {
    background-color: #f0f0f0;
}
.node.marked, .handle.marked {
    background-color: palegreen;
}
.round {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.node h3 {
    margin: 5px 10px;
    font-size: 1.1em;
}
.node span {
    margin: 5px 0 0;
    color: darkred;
    display: block;
}
.node .ui-resizable-se {
    width: 15px;
    height: 15px;
    bottom: 2px;
    right: 2px;
}
.node .hide, .node .info, .node .resize {
    width:18px;
    height: 18px;

    position: absolute;
    top: 0px;
    
    border-bottom: 1px solid black;
    background-repeat: no-repeat;
    opacity: 0;

    -webkit-transition: opacity 300ms ease-in 0ms;
    -moz-transition: opacity 300ms ease-in 0ms;
    -o-transition: opacity 300ms ease-in 0ms;
    transition: opacity 300ms ease-in 0ms;

    cursor: pointer;
}
.node:hover .hide, .node:hover .info, .node:hover .resize {
    opacity: 1;
}
.node .hide, .node .info {
    border-left: 1px solid black;
}
.node .resize {
    border-right: 1px solid black;
}
.node .hide {
    background-image: url(../images/hide.png);
    background-position: bottom left;
    right: 0px;
    padding: 2px 2px 0 0;
}
.node .info {
    background-image: url(../images/info-small.png);
    background-position: 31% 50%;
    right: 18px;
    padding: 2px 4px 0 0;
    width: 21px;
}
.node .resize {
    background-image: url(../images/resize.png);
    left: 0px;
    padding: 2px 2px 0;
    background-position: 65% 65%;
}
.node .associationHelper {
    width: 10px;
    height: 10px;
    
    background-color: darkred;
    cursor: crosshair;

    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    display: none;
}







/*
 * Handles
*/
.handle {
    background-color: #fbfbfb;

    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-transition: background-color 300ms ease-in 0ms;
    -moz-transition: background-color 300ms ease-in 0ms;
    -o-transition: background-color 300ms ease-in 0ms;
    transition: background-color 300ms ease-in 0ms;
}

.handle:hover {
    background-color: #bebebe;
}






/*
 * Lasso
 */
 #lasso {
     border: 1px dotted grey;
     background: none;
     position: absolute;
     z-index: 1000;
     display: none;
}