.relative {
    position: relative;
}
p.small {
    font-size: 0.9em;
}
span.small {
    font-size: 0.9em;
    color: #444;
}
in.prefillValue, .preselectValue {
    display: none;
}
a.collapsable{
    font-size: 10px;
    position: absolute;
    top:0;
    right:0;
}
#page table select {
    height: 19px;
}
#page ul.info li div.text h2 {
    font-size: 1.1em;
    margin: 0 0 0.1em 0;
    padding: 0;
}
div#userMenu {
    width: 330px;
    height: 100px;
    position: absolute;
    top: -49px;
    right: 100px;
    background-image: url(../images/usermenu_shadow_left.png);
    background-repeat: no-repeat;
    background-position: left top;
    font-family: Verdana, sans-serif;
}
div#userMenu #logoutForm {
    position: relative;
    top: 9px;
}
div#userMenu #logoutForm input {
    position: relative;
    top: -17px;
}
div#userMenu #logoutForm p {
    font-size: 0.8em;
}
div#userMenu label {
    display: none;
}
div#userMenu div {
    background-image: url(../images/usermenu_shadow_right.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 100%;
}
div#userMenu div div {
    background-image: url(../images/usermenu_shadow.png);
    background-repeat: repeat-x;
    height: 100%;
    margin-right: 1.62em;
    margin-left: 1.63em;
}
div#userMenu div div div {
    position: relative;
    top: 53px;
    right: 30px;
    background-image: none;
    height: 100%;

}
div#userMenu .registerLink {
    position: absolute;
    top: 20px;
    font: 13px arial,sans-serif;
    font-size: 0.75em;
    color: #444;
    text-decoration: none;
}
div#userMenu .registerLink:hover {
    text-decoration: underline;
}
div#userMenu input {
    background-color: #F4F2F2;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    font: 13px arial,sans-serif;
    width: 100px;
    position: absolute;
    top: 0px;
    margin: 0;
}
div#userMenu input.password {
    left: 105px;
}
div#userMenu input.name {
    left: 0px;
}
div#userMenu input.prefilled {
    color: #999;
}
div#userMenu div.loginError {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f4f2f2;
    z-index: 2;
    border: 2px solid red;
    position: absolute;
    top: 26px;
    left: -14px;
    width: 260px;
    height: 15px;
    text-align: center;
    padding: 5px;
    font-family: Arial, Geneva, Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}
div#userMenu form#loginForm input.error, div#userMenu form#loginForm textarea.error {
    color: #bd0000;
    border: 1px solid #bd0000;
}
div#userMenu input[type=submit] {
    left: 210px;
    background-image: url(../images/buttonConfirmSmall.png);
    color: white;
    border: 0;
    font-size: 0.7em;
    width: 75px;
    height: 19px;
    padding: 0 0 2px 0;
}
div#userMenu input[type=submit].logoutButton {
    background-image: url(../images/buttonLogoutSmall.png);
}

div#userMenu input[type=submit]:active, div#userMenu input[type=submit]:focus {
    background-image: url(../images/buttonConfirmActiveSmall.png);
}
div#userMenu input[type=submit].logoutButton:active, div#userMenu input[type=submit].logoutButton:focus {
    background-image: url(../images/buttonLogoutActiveSmall.png);
}
.formSection span {
}

#page .formSection .iceSelInpDateInput{
    float:left;
    position:absolute;
    right:257px;
    width:230px;
}

/* If you want to use this css, then restrict it to the current view not all.*/
#page .formSection select{
    height:27px;
    position:absolute;
    right:120px;
    top:0;
    width:50px;
    padding:0px;
}

#page .formSection select.minute{
    float:right;
    right:30px;
}

#page .formSection label.hourlabel{
    float:right;
    position:absolute;
    right:180px;
    top: 2px;
}

#page .formSection label.timedoublepoint{
    float:right;
    position:absolute;
    right:93px;
    top:2px;
}

#page .formSection label.min{
    float:right;
    position:absolute;
    right:0;
    top:2px;
}

#page .formSection label.h{
    float:right;
    position:absolute;
    right:105px;
    top:2px;
}


#page .formSection input, #page .formSection textarea {
    float: right;
    font: 14px/1.5em arial,sans-serif;
    height: 25px;
}
#page .formSection textarea {
    width: 487px;
    height: 150px;
}
#page .formSection input.memberAdd {
    position: absolute;
    right: 137px;
    top: 0px;
    width: 350px;
}
#page .formSection input[type=submit].add {
    position: absolute;
    right: 0;
    top: 2px;
}
#page .formSection div.datePopup input[type=image] {
    background-color:white;
    border:0 none;
    float:left;
    height:16px;
    margin:0;
    position:absolute;
    right:230px;
    top:2px;
    width:20px;
}

#page .formSection div.datePopup br {
    display: none;
}

.formSection p {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 0 0.8em 0;

    color: #666;
    font-size: 0.75em;
    font-variant: small-caps;
    text-indent: 11em;
}

.formSection p.constraintDate{
    padding:8px 0 0;
}


.formSection p.lineSpacer {
    padding: 0 0 5px;
}

#page .formSection table.memberSelect select {
    width: 240px;
    position: static;
}
#page .formSection table.memberSelect td:first-child, #page .formSection table.memberSelect th:first-child {
    font-size: 0.9em;
    width: 270px;
}
#page .formSection table.memberSelect td:first-child span, #page .formSection table.memberSelect th:first-child span {
    font-size: 0.9em;
    color: #444;
}
#page .formSection table.memberSelect td {
    width: 250px;
}
#page .formSection table.memberSelect td:last-child {
    width: 20px;
}
.pointer{
    cursor: pointer;
}

#page td {
    vertical-align: middle;
}

#page input#iterationForm:date1_cb{
    margin-top:50px;
}

p.deleteConfirmationMessage  span {
    font-weight: bold;
    color: #48A659;
}
.quickAddDecisionLink img {
    position: relative;
    top: 1px;
}
.quickAddDecisionLink span {
    margin-left: 5px;
}

.exampleBoxCol1 {
    padding: 7px;
}

#help  ul.info > li > div.text a {
    color: #fff;
}
#page .members table td, #page .members table th {
    font-size: 0.9em;
}
#page .members table td:first-child, #page .members table th:first-child {
    width: 350px;
}
#page .members table td:first-child span, #page .members table th:first-child span {
    font-size: 0.9em;
    color: #444;
}
form#decisionQuickAddContainer{
    display: none;
    background-color: #EFEFEF;
    border: 1px solid #CECECE;
    margin: 10px 0px 0px;
    padding: 5px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#page form#decisionQuickAddContainer input[type="submit"].confirm, #page form#decisionQuickAddContainer input[type="submit"].abort {
    top: 0;
}

#page form#decisionQuickAddContainer input[type="submit"].confirm {
    left: 10px;
}

#page form#decisionQuickAddContainer input[type="submit"].abort {
    left: 20px;
}

#page form#decisionQuickAddContainer textarea {
    height: 100px;
}

#page form#decisionQuickAddContainer .formSection p {
    color: black;
    text-indent: 9.5em;
}

#page form#decisionQuickAddContainer h3 {
    margin: 0;
}
div#backgroundPopup {
    width: 100%;
    height: 100%;
    display: none;
    background-color: black;
    position: absolute;
    opacity: 0.7;
    z-index: 3;
}
div#deleteConfirmationPopup {
    width: 400px;

    padding: 10px;

    position: absolute;

    display: none;
    z-index: 4;

    border: 1px solid black;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    background-color: white;
}

div#deleteConfirmationPopup h1 {
    color: #48a659;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

div#deleteConfirmationPopup input {
    position: static;
    margin: 10px 0 0 10px;
}
div.projectDetailsActions {
    position: absolute;
    top: 10px;
    right: 10px;
}
/*
    ############################################################################################
                                    Generic page styles
    -------------------------------------------------
                    Connection status
*/
.iceOutConStatDisconnect, .iceOutConStatCaution, .iceOutConStatInactv, .iceOutConStatActv {
    width: 20px;
    height: 25px;
    position: absolute;
    left: 360px;
    top: 60px;
    text-indent: 24px;
    font-size: 0.9em;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding: 3px 0 0 0;
}
.iceOutConStatCaution {
    background-image: url(../images/connection_warning.png);
}
.iceOutConStatDisconnect {
    background-image: url(../images/connection_error.png);
}
/*
    ############################################################################################
                                    Generic form styles

    .formSection table.collection       Use this if the contents of the table are the result
                                        of a selection using a combobox or textfield.
                                        Example: Adding stakeholders to a project or adding
                                                 requirements to a decision

    -------------------------------------------------
                    Form container
*/
.formSection {
    position: relative;
    border-bottom: 1px dashed #666;
    margin: 0.8em 0 0 0;
}
.formSection.last-child, .last, .last-child {
    border-bottom: 0;
}
.formSection label {
    float: left;
    position: relative;
    top: 4px;
}
.required {
    color: #bd0000;
    font-weight: bold;
    position: relative;
    top: 1px;
}
.formSection p.empty{
    padding: 0 0 5px 0;
}
/*
    -------------------------------------------------
                    Form controls
    ------- textarea and bigger, smaller buttons
*/
.textareaSmaller, .textareaBigger {
    background-color: #F4F2F2;
    border: 1px solid black;
    position: relative;
    top: -1px;
    font-size: 10px;
    width: 70px;
    text-align: center;
    float: right;
    cursor: pointer;
    background-repeat: no-repeat;
}
.textareaBigger {
    clear: both;
    background-image: url(../images/arrow-down.png);
    background-position: 55px 50%;
    text-indent: -5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-bottom-right-radius: 5px;
}
.textareaSmaller {
    left: 1px;
    background-image: url(../images/arrow-up.png);
    background-position: 5px 50%;
    text-indent: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}
/*
    ------- select
*/
#page .formSection select {
    left: 107px;
    position: absolute;
    width: 495px;
}
/*
    ------- table and subcomponents
*/
#page .formSection table select {
    height: 19px;
}
#page .formSection table.collection {
    font-size: 0.9em;
    padding: 35px 0 6px 10px;
    width: 500px;
}
#page table.collection tr:hover, #page table.enableHover tr:hover {
    background-color: #f4f2f2;
}

/*
    ------- table paginator
*/
table.iceDatPgr {
    margin-top: 5px;
}
.iceDatPgrScrBtn img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}
.iceDatPgrTbl .iceDatPgrCol a, .iceDatPgrScrCol a {
    margin-left: 3px;
}
.iceDatPgrTbl .iceDatPgrCol:first-child a, .iceDatPgrTbl .iceDatPgrScrCol:first-child a {
    margin-left: 0px;
}
.iceDatPgrScrCol a {
    color: black;
    text-decoration: none;
}


/*
    -------------------------------------------------
                    Error hightlighting
*/
#page input.error, #userMenu input.error, #page textarea.error {
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 100% 2px;
    color: #bd0000;
    border: 1px solid #bd0000;
}
#page select.error {
    color: #bd0000;
    border: 1px solid #bd0000;
}


/*
    -------------------------------------------------
                    Generic Wizard
*/
.nextStepButton, .previousStepButton {
    position: absolute;
    top: 12px;
    right: 15px;
}
.previousStepButton {
    right: 150px;
}


/*
    -------------------------------------------------
                    Datetimepicker
*/
#page .formSection .datetimepicker {
    position: relative;
}
#page .formSection .datetimepicker select {
    width: 40px;
    position: absolute;
}
#page .formSection .datetimepicker .datetimepickerMinute {
    left: 498px;
}
#page .formSection .datetimepicker .datetimepickerHour {
    left: 440px;
}
#page .formSection .datetimepicker .iceSelInpDateInput {
    position: absolute;
    width: 230px;
    float: none;
}
#page .formSection .datetimepicker .datetimepickerDatePopup input[type=image] {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 0;
    position: absolute;
    top: 3px;
    left: 345px;
    display: none;
}
#page .formSection .datetimepicker .datetimepickerHourLabel {
    position: absolute;
    left: 390px;
    top: 5px;
}
#page .formSection .datetimepicker .datetimepickerMinuteLabel {
    position: absolute;
    left: 485px;
    top: 5px;
}
#page .formSection .datetimepicker .datetimepickerTimeZone {
    position: absolute;
    left: 545px;
    top: 5px;
}
#page .formSection .datetimepicker table.date {
    float:right;
    left:110px;
    top:27px;
}
#page .formSection .datetimepicker .errorInput {
    color: #bd0000;
    border: 1px solid #bd0000;
}


/*
    ############################################################################################
                                    Decision wizard styles
*/
#page .formSection a.toggleTemplateComponent {
    font-size: 10px;
    position: absolute;
    left: 0px;
    top: 22px;
}
#page .formSection textarea.shrinked {
    height: 40px;
}