.prefillValue {
    display: none;
}

#page ul.info li div.text h2 {
    font-size: 1.1em;
    margin: 0 0 0.1em 0;
    padding: 0;
}

div#userMenu {
    width: 300px;
    height: 75px;
    position: absolute;
    top: 5px;
    right: 100px;
}
div#userMenu .registerLink {
    position: absolute;
    top: 25px;
    font: 13px arial,sans-serif;
}
div#userMenu input {
    background-color: #F4F2F2;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    font: 13px arial,sans-serif;
    width: 100px;
    position: absolute;
    top: 0px;
    margin: 0;
}
div#userMenu input.password {
    left: 105px;
}
div#userMenu input.name {
    left: 0px;
}
div#userMenu input.prefilled {
    color: #999;
}
div#userMenu div.loginError {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f4f2f2;
    z-index: 2;
    border: 2px solid red;
    position: absolute;
    top: 26px;
    padding: 5px;
    font-family: Arial, Geneva, Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}
div#userMenu form#loginForm input.error, div#userMenu form#loginForm textarea.error {
    color: #bd0000;
}
div#userMenu input[type=submit] {
    left: 210px;
    background-image: url(../images/buttonConfirmSmall.png);
    color: white;
    border: 0;
    font-size: 0.7em;
    width: 75px;
    height: 19px;
    padding: 0 0 2px 0;
}
div#userMenu input[type=submit]:active, div#userMenu input[type=submit]:focus {
    background-image: url(../images/buttonConfirmActiveSmall.png);
}
.formSection {
    position: relative;
    border-bottom: 1px dashed #666;
    margin: 0.8em 0 0 0;
}
.last {
    border-bottom: 0;
}
.formSection label {
    float: left;
}
.formSection span {
}
#page .formSection input, #page .formSection textarea {
    float: right;
    font: 14px/1.5em arial,sans-serif;
    min-height: 25px;
}
#page .formSection textarea {
    width: 487px;
    height: 150px;
}
#page .formSection input.iceSelInpTxtTxt {
    position: absolute;
    right: 137px;
    top: 0px;
}
#page .formSection div.iceSelInpTxtList {
    z-index: 30;
}
#page .formSection input[type=submit].add {
    position: absolute;
    right: 0;
    top: 2px;
}
#page .formSection div.datePopup input[type=image] {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    background-color: white;
}

#page .formSection div.datePopup br {
    display: none;
}

.formSection p {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 0 0.8em 0;

    color: #666;
    font-size: 0.75em;
    font-variant: small-caps;
    text-indent: 11em;
}

.formSection p.empty{
    padding: 0 0 9px 0;
}
.formSection p.lineSpacer {
    padding: 0 0 5px;
}

#page .formSection table.memberSelect select {
    width: 240px;
}
#page .formSection table.memberSelect td:first-child {
    width: 270px;
}
#page .formSection table.memberSelect td {
    width: 250px;
}
#page .formSection table.memberSelect td:last-child {
    width: 20px;
}
.pointer{
    cursor: pointer;
}

#page td {
    vertical-align: middle;
}

#page input#iterationForm:date1_cb{
    margin-top:50px;
}

/*
----------- Calendar Component classes
*/
.iceSelInpDate {
/* calendar outline & background color */
    background-color: #FFFFFF;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    margin-left: 115px;
}
#date2_ct{
    margin-left:200px;
}

table.iceSelInpDate tbody tr td table{
    border-right: 1px solid #d9d9d9;
}

.iceSelInpDateIFrameFix, .iceIEIFrameFix {
    z-index: -1;
    position: absolute;
    display: block;
}

.iceIEIFrameFix {
    height: 0;
}

.iceSelInpDatePopup {
    min-width: 172px;
}

.iceSelInpDateInput {
    width: 150px;
    margin: 2px;
}

.iceSelInpDateOpenPopup {
    display: inline;
    text-decoration: none;
    background-color: transparent;
    background-image: url( "./css-images/cal_button.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.iceSelInpDateClosePopup {
    display: inline;
    text-decoration: none;
    background-color: transparent;
    background-image: url( "./css-images/cal_off.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.iceSelInpDateMonthYear, .iceSelInpDateTime{
    background: #F5F5F5;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #666;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.iceSelInpDateTime{
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.iceSelInpDateMoYrDropdown, .iceSelInpDateTimeDropDown {
    background: #F5F5F5;
    font-weight: bold;
    color: #666;
}

.iceSelInpDateMonthYear img {
    border: none;
    margin-left: 3px;
    padding: 3px;
}

.iceSelInpDateMovePrev {
    text-decoration: none;
    display: inline;
    background-color: transparent;
    background-image: url( "./css-images/cal_arrow_left.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 17px;
    height: 16px;
}

.iceSelInpDateMoveNext {
    text-decoration: none;
    display: inline;
    background-color: transparent;
    background-image: url( "./css-images/cal_arrow_right.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 17px;
    height: 16px;
}

.iceSelInpDateWeek {
/* the days of the week row */
    font-weight: normal;
    color: #666;
    text-align: center;
    padding: 3px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    /*width: 22px;*/
}

/* set the look for the days of the week backgrounds */

.iceSelInpDateDay {
    text-align: center;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 3px;
}

.iceSelInpDateCur {
    background: #faa620;
    text-align: center;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.iceSelInpDateCur .iceCmdLnk {
    background: none;
    border: none;
}

.iceSelInpDateCur .iceOutTxt {
    color: #FFFFFF;
}

.weekend {
    background: #e9e9e9;
}

.weekend .iceOutTxt {
    color: #666;
}

.weekend .iceCmdLnk {
    background: none;
    border: none;
}

/* now set the attributes for the numbers for each day of the week */

.iceSelInpDateDay a {
/* the day text */
    text-decoration: none;
    background-color: #FFFFFF;
    /*border: 1px solid #FFFFFF;*/
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}
.iceSelInpDateDay .iceOutTxt {
    color: #000000;
    padding:2px 0;
}

.iceSelInpDateCur a {
    text-decoration: none;
    background-color: #2A6CC2;
    border: 1px solid #2A6CC2;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}

/* now set the color attributes for the hover effect on non-current days */
.iceSelInpDateDay a:hover {
/* the day text */
    text-decoration: none;
    color: #666;
}

.exampleBoxCol1 {
    padding: 7px;
}
