/*#############################################################################
::: Vars
#############################################################################*/
/*#############################################################################
::: Mixins
#############################################################################*/
/*#############################################################################
::: Commonly used classes
#############################################################################*/
.hidden {
  display: none; }

.top {
  vertical-align: top; }

ul.hierarchal li > ul {
  margin-left: 20px; }

.clearFloat {
  clear: both;
  margin: 0; }

.italics {
  font-style: italic; }

/*#############################################################################
::: Page layout
#############################################################################*/
body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
  font-size: 14px; }

header.page {
  background-image: url(../img/header.png);
  background-repeat: repeat-x;
  height: 82px;
  position: relative;
  border-bottom: 1px solid #330066; }
  header.page .header_indention {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    header.page .header_indention h1 a {
      text-decoration: none; }
    header.page .header_indention h1 img {
      position: absolute;
      left: 0px;
      top: 20px;
      width: 48px;
      height: 43px; }
    header.page .header_indention h1 span {
      position: absolute;
      left: 53px;
      top: 29px;
      color: white;
      font-size: 1.4em; }
    header.page .header_indention nav {
      height: 44px;
      top: 44px; }
      header.page .header_indention nav ul {
        position: absolute;
        top: 45px;
        right: 0px;
        list-style-type: none; }
        header.page .header_indention nav ul li {
          float: left;
          padding: 10px 8px 0;
          font-weight: bold;
          color: #414141;
          height: 21px; }
          header.page .header_indention nav ul li:first-child {
            padding-left: 20px; }
          header.page .header_indention nav ul li:last-child {
            padding-right: 20px; }
          header.page .header_indention nav ul li a {
            color: white;
            text-decoration: none; }
            header.page .header_indention nav ul li a:active, header.page .header_indention nav ul li a.active {
              color: white; }
            header.page .header_indention nav ul li a:hover {
              color: white;
              text-decoration: underline; }
            header.page .header_indention nav ul li a:focus {
              color: white; }
    header.page .header_indention aside {
      height: 28px;
      width: 400px;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: white;
      border-bottom-left-radius: 7px;
      -moz-border-radius-bottomleft: 7px;
      -webkit-border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      -moz-border-radius-bottomright: 7px;
      -webkit-border-bottom-right-radius: 7px; }
      header.page .header_indention aside.user-info div.user img {
        width: 20px;
        height: 20px;
        border: 1px solid #330066;
        position: absolute;
        top: 2px;
        left: 5px; }
      header.page .header_indention aside .openid-login-button {
        background-color: #efefef;
        border-bottom-left-radius: 7px;
        -moz-border-radius-bottomleft: 7px;
        -webkit-border-bottom-left-radius: 7px;
        height: inherit;
        width: 35px;
        float: left; }
        header.page .header_indention aside .openid-login-button .openid-logo {
          width: 25px;
          height: 25px;
          background-image: url(../img/openid-icon.png);
          background-position: 0 0;
          margin: 2px 0 0 5px;
          display: block;
          font-size: 0;
          text-indent: -9999px; }
          header.page .header_indention aside .openid-login-button .openid-logo:hover {
            background-position: 25px 0; }
      header.page .header_indention aside .odr-login {
        border-bottom-right-radius: 7px;
        -moz-border-radius-bottomright: 7px;
        -webkit-border-bottom-right-radius: 7px;
        background-color: white;
        height: inherit;
        float: left;
        width: 365px;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        header.page .header_indention aside .odr-login input[type=text], header.page .header_indention aside .odr-login input[type=password] {
          width: 130px;
          margin: 5px 0 0 10px; }
        header.page .header_indention aside .odr-login input[type=submit] {
          margin-left: 8px; }
        header.page .header_indention aside .odr-login .additional {
          position: absolute;
          top: 27px;
          left: 0px;
          background-color: white;
          width: 365px;
          height: 25px;
          display: none;
          -webkit-transition: border-radius 0.3s ease-in-out;
          -moz-transition: border-radius 0.3s ease-in-out;
          -o-transition: border-radius 0.3s ease-in-out;
          -webkit-transition: border-radius 0.3s ease-in-out;
          transition: border-radius 0.3s ease-in-out; }
          header.page .header_indention aside .odr-login .additional label {
            position: relative;
            top: 5px;
            left: 6px; }
            header.page .header_indention aside .odr-login .additional label input {
              position: relative;
              top: 1px; }
        header.page .header_indention aside .odr-login:hover {
          border-bottom-right-radius: 0px;
          -moz-border-radius-bottomright: 0px;
          -webkit-border-bottom-right-radius: 0px; }
          header.page .header_indention aside .odr-login:hover .additional {
            border-bottom-right-radius: 7px;
            -moz-border-radius-bottomright: 7px;
            -webkit-border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
            -moz-border-radius-bottomleft: 7px;
            -webkit-border-bottom-left-radius: 7px; }

#projectNav {
  width: 960px;
  height: 35px;
  margin: 0 auto 10px;
  position: relative;
  border: 1px solid #330066;
  border-top: 0;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  background: whitesmoke; }
  #projectNav h1 {
    position: absolute;
    color: #343434;
    top: 9px;
    left: 20px;
    font-size: 1.2em; }
  #projectNav ul {
    list-style: none;
    position: absolute;
    right: 0px; }
    #projectNav ul li {
      font-size: 12px;
      font-weight: bold;
      color: #343434;
      margin: 0 1px;
      float: left;
      background: #f5f5f5;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f5f5f5));
      background: -webkit-linear-gradient(white, #f5f5f5);
      background: -moz-linear-gradient(top, white, #f5f5f5);
      border: 1px solid #330066;
      border-top: 0;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px; }
      #projectNav ul li:hover {
        background: white;
        line-height: 18px; }
      #projectNav ul li.active {
        line-height: 20px; }
      #projectNav ul li a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 4px 7px; }

#site {
  width: 960px;
  margin: 0 auto;
  position: relative; }
