a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

b, strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

svg {
  overflow: hidden; }

body {
  min-width: 960px; }

.c_12, .c_16, #site {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

.g_1, .g_2, .g_3, .g_4, .g_5, .g_6, #site .right_side, .g_7, .g_8, .g_9, .g_10, #site .left_side, .g_11, .g_12, .g_13, .g_14, .g_15, .g_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15 {
  position: relative; }

.c_12 .g_3, .c_16 .g_4, #site .g_4 {
  width: 220px; }

.c_12 .g_6, .c_12 #site .right_side, #site .c_12 .right_side, .c_16 .g_8, #site .g_8 {
  width: 460px; }

.c_12 .g_9, .c_16 .g_12, #site .g_12 {
  width: 700px; }

.c_12 .g_12, .c_16 .g_16, #site .g_16 {
  width: 940px; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.c_12 .g_1 {
  width: 60px; }

.c_12 .g_2 {
  width: 140px; }

.c_12 .g_4 {
  width: 300px; }

.c_12 .g_5 {
  width: 380px; }

.c_12 .g_7 {
  width: 540px; }

.c_12 .g_8 {
  width: 620px; }

.c_12 .g_10, .c_12 #site .left_side, #site .c_12 .left_side {
  width: 780px; }

.c_12 .g_11 {
  width: 860px; }

.c_16 .g_1, #site .g_1 {
  width: 40px; }

.c_16 .g_2, #site .g_2 {
  width: 100px; }

.c_16 .g_3, #site .g_3 {
  width: 160px; }

.c_16 .g_5, #site .g_5 {
  width: 280px; }

.c_16 .g_6, #site .g_6, .c_16 #site .right_side, #site .c_16 .right_side, #site .right_side {
  width: 340px; }

.c_16 .g_7, #site .g_7 {
  width: 400px; }

.c_16 .g_9, #site .g_9 {
  width: 520px; }

.c_16 .g_10, #site .g_10, .c_16 #site .left_side, #site .c_16 .left_side, #site .left_side {
  width: 580px; }

.c_16 .g_11, #site .g_11 {
  width: 640px; }

.c_16 .g_13, #site .g_13 {
  width: 760px; }

.c_16 .g_14, #site .g_14 {
  width: 820px; }

.c_16 .g_15, #site .g_15 {
  width: 880px; }

.c_12 .pr_3, .c_16 .pr_4, #site .pr_4 {
  padding-left: 240px; }

.c_12 .pr_6, .c_16 .pr_8, #site .pr_8 {
  padding-left: 480px; }

.c_12 .pr_9, .c_16 .pr_12, #site .pr_12 {
  padding-left: 720px; }

.c_12 .pr_1 {
  padding-left: 80px; }

.c_12 .pr_2 {
  padding-left: 160px; }

.c_12 .pr_4 {
  padding-left: 320px; }

.c_12 .pr_5 {
  padding-left: 400px; }

.c_12 .pr_7 {
  padding-left: 560px; }

.c_12 .pr_8 {
  padding-left: 640px; }

.c_12 .pr_10 {
  padding-left: 800px; }

.c_12 .pr_11 {
  padding-left: 880px; }

.c_16 .pr_1, #site .pr_1 {
  padding-left: 60px; }

.c_16 .pr_2, #site .pr_2 {
  padding-left: 120px; }

.c_16 .pr_3, #site .pr_3 {
  padding-left: 180px; }

.c_16 .pr_5, #site .pr_5 {
  padding-left: 300px; }

.c_16 .pr_6, #site .pr_6 {
  padding-left: 360px; }

.c_16 .pr_7, #site .pr_7 {
  padding-left: 420px; }

.c_16 .pr_9, #site .pr_9 {
  padding-left: 540px; }

.c_16 .pr_10, #site .pr_10 {
  padding-left: 600px; }

.c_16 .pr_11, #site .pr_11 {
  padding-left: 660px; }

.c_16 .pr_13, #site .pr_13 {
  padding-left: 780px; }

.c_16 .pr_14, #site .pr_14 {
  padding-left: 840px; }

.c_16 .pr_15, #site .pr_15 {
  padding-left: 900px; }

.c_12 .su_3, .c_16 .su_4, #site .su_4 {
  padding-right: 240px; }

.c_12 .su_6, .c_16 .su_8, #site .su_8 {
  padding-right: 480px; }

.c_12 .su_9, .c_16 .su_12, #site .su_12 {
  padding-right: 720px; }

.c_12 .su_1 {
  padding-right: 80px; }

.c_12 .su_2 {
  padding-right: 160px; }

.c_12 .su_4 {
  padding-right: 320px; }

.c_12 .su_5 {
  padding-right: 400px; }

.c_12 .su_7 {
  padding-right: 560px; }

.c_12 .su_8 {
  padding-right: 640px; }

.c_12 .su_10 {
  padding-right: 800px; }

.c_12 .su_11 {
  padding-right: 880px; }

.c_16 .su_1, #site .su_1 {
  padding-right: 60px; }

.c_16 .su_2, #site .su_2 {
  padding-right: 120px; }

.c_16 .su_3, #site .su_3 {
  padding-right: 180px; }

.c_16 .su_5, #site .su_5 {
  padding-right: 300px; }

.c_16 .su_6, #site .su_6 {
  padding-right: 360px; }

.c_16 .su_7, #site .su_7 {
  padding-right: 420px; }

.c_16 .su_9, #site .su_9 {
  padding-right: 540px; }

.c_16 .su_10, #site .su_10 {
  padding-right: 600px; }

.c_16 .su_11, #site .su_11 {
  padding-right: 660px; }

.c_16 .su_13, #site .su_13 {
  padding-right: 780px; }

.c_16 .su_14, #site .su_14 {
  padding-right: 840px; }

.c_16 .su_15, #site .su_15 {
  padding-right: 900px; }

.c_12 .push_3, .c_16 .push_4, #site .push_4 {
  left: 240px; }

.c_12 .push_6, .c_16 .push_8, #site .push_8 {
  left: 480px; }

.c_12 .push_9, .c_16 .push_12, #site .push_12 {
  left: 720px; }

.c_12 .push_1 {
  left: 80px; }

.c_12 .push_2 {
  left: 160px; }

.c_12 .push_4 {
  left: 320px; }

.c_12 .push_5 {
  left: 400px; }

.c_12 .push_7 {
  left: 560px; }

.c_12 .push_8 {
  left: 640px; }

.c_12 .push_10 {
  left: 800px; }

.c_12 .push_11 {
  left: 880px; }

.c_16 .push_1, #site .push_1 {
  left: 60px; }

.c_16 .push_2, #site .push_2 {
  left: 120px; }

.c_16 .push_3, #site .push_3 {
  left: 180px; }

.c_16 .push_5, #site .push_5 {
  left: 300px; }

.c_16 .push_6, #site .push_6 {
  left: 360px; }

.c_16 .push_7, #site .push_7 {
  left: 420px; }

.c_16 .push_9, #site .push_9 {
  left: 540px; }

.c_16 .push_10, #site .push_10 {
  left: 600px; }

.c_16 .push_11, #site .push_11 {
  left: 660px; }

.c_16 .push_13, #site .push_13 {
  left: 780px; }

.c_16 .push_14, #site .push_14 {
  left: 840px; }

.c_16 .push_15, #site .push_15 {
  left: 900px; }

.c_12 .pull_3, .c_16 .pull_4, #site .pull_4 {
  left: -240px; }

.c_12 .pull_6, .c_16 .pull_8, #site .pull_8 {
  left: -480px; }

.c_12 .pull_9, .c_16 .pull_12, #site .pull_12 {
  left: -720px; }

.c_12 .pull_1 {
  left: -80px; }

.c_12 .pull_2 {
  left: -160px; }

.c_12 .pull_4 {
  left: -320px; }

.c_12 .pull_5 {
  left: -400px; }

.c_12 .pull_7 {
  left: -560px; }

.c_12 .pull_8 {
  left: -640px; }

.c_12 .pull_10 {
  left: -800px; }

.c_12 .pull_11 {
  left: -880px; }

.c_16 .pull_1, #site .pull_1 {
  left: -60px; }

.c_16 .pull_2, #site .pull_2 {
  left: -120px; }

.c_16 .pull_3, #site .pull_3 {
  left: -180px; }

.c_16 .pull_5, #site .pull_5 {
  left: -300px; }

.c_16 .pull_6, #site .pull_6 {
  left: -360px; }

.c_16 .pull_7, #site .pull_7 {
  left: -420px; }

.c_16 .pull_9, #site .pull_9 {
  left: -540px; }

.c_16 .pull_10, #site .pull_10 {
  left: -600px; }

.c_16 .pull_11, #site .pull_11 {
  left: -660px; }

.c_16 .pull_13, #site .pull_13 {
  left: -780px; }

.c_16 .pull_14, #site .pull_14 {
  left: -840px; }

.c_16 .pull_15, #site .pull_15 {
  left: -900px; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:before, #site:before, .clearfix:after, #site:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after, #site:after {
  clear: both; }

.clearfix, #site {
  zoom: 1; }

/*#############################################################################
::: Vars
#############################################################################*/
/*#############################################################################
::: Mixins
#############################################################################*/
/*#############################################################################
::: Commonly used classes
#############################################################################*/
.hidden {
  display: none; }

.top {
  vertical-align: top; }

ul.hierarchal li > ul {
  margin-left: 20px; }

.clearFloat {
  clear: both;
  margin: 0; }

.italics {
  font-style: italic; }

/*#############################################################################
::: Page layout
#############################################################################*/
body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
  font-size: 14px; }

a {
  color: #48a659; }

header.page {
  background-image: url(../img/header.png);
  background-repeat: repeat-x;
  height: 82px;
  position: relative;
  border-bottom: 1px solid #444; }
  header.page .header_indention {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    header.page .header_indention h1 a {
      text-decoration: none; }
    header.page .header_indention h1 img {
      position: absolute;
      left: 0px;
      top: 20px;
      width: 48px;
      height: 43px; }
    header.page .header_indention h1 span {
      position: absolute;
      left: 53px;
      top: 29px;
      color: white;
      font-size: 1.4em; }
    header.page .header_indention nav {
      height: 44px;
      top: 44px; }
      header.page .header_indention nav ul {
        position: absolute;
        top: 45px;
        right: 6px;
        list-style-type: none; }
        header.page .header_indention nav ul li {
          float: left;
          padding: 10px 8px 0;
          font-weight: bold;
          color: #414141;
          height: 21px; }
          header.page .header_indention nav ul li:first-child {
            padding-left: 20px; }
          header.page .header_indention nav ul li:last-child {
            padding-right: 20px; }
          header.page .header_indention nav ul li a {
            color: white;
            text-decoration: none; }
            header.page .header_indention nav ul li a:active, header.page .header_indention nav ul li a.active {
              color: white; }
            header.page .header_indention nav ul li a:hover {
              color: white;
              text-decoration: underline; }
            header.page .header_indention nav ul li a:focus {
              color: white; }
    header.page .header_indention aside {
      height: 28px;
      width: 400px;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: white;
      font-size: 0.9em;
      border-bottom-left-radius: 7px;
      -moz-border-radius-bottomleft: 7px;
      -webkit-border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      -moz-border-radius-bottomright: 7px;
      -webkit-border-bottom-right-radius: 7px; }
      header.page .header_indention aside ul.user-info {
        position: relative;
        top: 7px;
        list-style: none; }
        header.page .header_indention aside ul.user-info li {
          display: inline;
          margin: 0 10px;
          font-weight: bold;
          text-shadow: #eee 1px 1px 0; }
          header.page .header_indention aside ul.user-info li:first-child {
            margin-left: 40px;
            color: #343434; }
          header.page .header_indention aside ul.user-info li a {
            text-decoration: none; }
        header.page .header_indention aside ul.user-info img {
          width: 20px;
          height: 20px;
          border: 1px solid #444444;
          position: absolute;
          top: -4px;
          left: 10px; }
      header.page .header_indention aside .openid-login-button {
        background-color: #efefef;
        border-bottom-left-radius: 7px;
        -moz-border-radius-bottomleft: 7px;
        -webkit-border-bottom-left-radius: 7px;
        height: inherit;
        width: 35px;
        float: left; }
        header.page .header_indention aside .openid-login-button .openid-logo {
          width: 25px;
          height: 25px;
          background-image: url(../img/openid-icon.png);
          background-position: 0 0;
          margin: 2px 0 0 5px;
          display: block;
          font-size: 0;
          text-indent: -9999px; }
          header.page .header_indention aside .openid-login-button .openid-logo:hover {
            background-position: 25px 0; }
      header.page .header_indention aside .odr-login {
        border-bottom-right-radius: 7px;
        -moz-border-radius-bottomright: 7px;
        -webkit-border-bottom-right-radius: 7px;
        background-color: white;
        height: inherit;
        float: left;
        width: 365px;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        header.page .header_indention aside .odr-login input[type=text], header.page .header_indention aside .odr-login input[type=password] {
          width: 130px;
          margin: 5px 0 0 10px; }
        header.page .header_indention aside .odr-login input[type=submit] {
          margin-left: 8px; }
        header.page .header_indention aside .odr-login .additional {
          position: absolute;
          top: 27px;
          left: 0px;
          background-color: white;
          width: 365px;
          height: 25px;
          display: none;
          -webkit-transition: border-radius 0.3s ease-in-out;
          -moz-transition: border-radius 0.3s ease-in-out;
          -o-transition: border-radius 0.3s ease-in-out;
          -webkit-transition: border-radius 0.3s ease-in-out;
          transition: border-radius 0.3s ease-in-out; }
          header.page .header_indention aside .odr-login .additional label {
            position: relative;
            top: 5px;
            left: 6px; }
            header.page .header_indention aside .odr-login .additional label input {
              position: relative;
              top: 1px; }
        header.page .header_indention aside .odr-login:hover {
          border-bottom-right-radius: 0px;
          -moz-border-radius-bottomright: 0px;
          -webkit-border-bottom-right-radius: 0px; }
          header.page .header_indention aside .odr-login:hover .additional {
            border-bottom-right-radius: 7px;
            -moz-border-radius-bottomright: 7px;
            -webkit-border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
            -moz-border-radius-bottomleft: 7px;
            -webkit-border-bottom-left-radius: 7px; }

#projectNav {
  width: 960px;
  height: 35px;
  margin: 0 auto 10px;
  position: relative;
  border: 1px solid #444444;
  border-top: 0;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  background: whitesmoke; }
  #projectNav h1 {
    position: absolute;
    color: #343434;
    top: 9px;
    left: 20px;
    font-size: 1.2em; }
  #projectNav ul {
    list-style: none;
    position: absolute;
    right: 5px; }
    #projectNav ul li {
      font-size: 12px;
      font-weight: bold;
      color: #343434;
      margin: 0 1px;
      float: left;
      background: #f5f5f5;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f5f5f5));
      background: -webkit-linear-gradient(white, #f5f5f5);
      background: -moz-linear-gradient(top, white, #f5f5f5);
      border: 1px solid #444444;
      border-top: 0;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px; }
      #projectNav ul li:hover {
        background: white;
        line-height: 18px; }
      #projectNav ul li.active {
        line-height: 20px; }
      #projectNav ul li a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 4px 7px; }

#site {
  position: relative; }
